{% extends 'base.html' %}
{% block holis %}
    <a class="navbar-brand" href={% url 'crear_mascotas' %}>Crear mascotas</a>
    <p>Ver mascotas que asistirán con sus dueños al casamiento:<p>

    <form action={% url 'ver_mascotas' %} method="GET">

        {{formulario}}
            
        <button>Buscar</button>
        
    </form>    
<p>
    {% for mascota in object_list %}
            <li>
                
                {{mascota}}
                <button>
                <a class="navbar-brand" href={% url 'editar_mascota' mascota.id %}>Editar</a>
                
                <a class="navbar-brand" href={% url 'eliminar_mascota' mascota.id %}>Eliminar</a>
                </button>
            <li>
    {% endfor %}
</ul>

    
{% endblock holis %}