<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <h1>Entrega 1</h1>
    <h3>Alumnos:</h3>
    <li>Pablo Consiglio</li>
    <p>Soy Pablo Consiglio, tengo 26 años y soy Licenciado en Relaciones Internacionales. Soy Rosarino, amo los perros, viajar y el rock nacional.</p>
    <br>
    <li>Pablo Leonczik</li>
    <p>Mi nombre es Pablo, tengo 20 años. Soy estudiante de la UNQ, Licenciatura en Informatica. Me apasionan las nuevas tecnologias y los videojuegos. </p>



</body>
</html>